body {
	font-family: 'Open Sans', sans-serif;
	color: #5e5e5e;
    font-weight: 300;
  }

  h4.big {
	font-family: 'Open Sans', sans-serif;
	color: #5e5e5e;
	font-weight: 300;
	line-height: 1.5;
}
p {
	font-family: 'Open Sans', sans-serif;
	color: #5e5e5e;
	font-weight: 300;
	line-height: 1.5;
	font-size: 120%;
}

.projects-title {
    margin-top: 50px;
}
.title {
    color: silver;
    margin-bottom: 50px;
    text-align: center;
}
hr {
    height: 4px;
    display: block;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
  }
